.mantine-Header-root {
  background-color: #0d2945;
  border: none;
}

.mantine-Navbar-root {
  background-color: #0d2945;
  max-width: 80px;
  min-width: 80px;
  border: none;
  padding: 0px;
}

.mantine-AppShell-main {
  background-color: #071b2e;
  padding-left: 100px;
}
