.mantine-Header-root {
  background-color: #0d2945;
  border: none;
}

.mantine-Navbar-root {
  background-color: #0d2945;
  max-width: 80px;
  min-width: 80px;
  border: none;
  padding: 0px;
}

.mantine-AppShell-main {
  background-color: #071b2e;
  padding-left: 100px;
}

thead, tr, th, td {
  border-color: #20456a !important;
  color: white;
  text-align: center;
}
th {
  text-align: center !important;
}

.mantine-Pagination-control {
  background: transparent;
  border-color: #098db5;
  color: #098db5;
}

#search .mantine-Select-dropdown {
  background: #0d2945
}